div{
    border: 2px,solid,black; 
    background-color:rgba(27, 179, 27, 0.596) ;
    width: 300px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

}

.alphmarin{

width: 200px;
height: 300px;


border: 1px,solid,black;
border-top-left-radius: 5%;
border-top-right-radius: 5%;
border-bottom-left-radius: 5%;
border-bottom-right-radius:5% ;
}

.livebutton{
    border: 1px,solid,black;
    background-color:gray ;
    padding-top: 7px;
    padding-right: 6px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius:5% ;
    

    
}